    html,
    body {
        height: 100%;
        background-color: #f5f5f5 !important;
    }   
    html{
        position: relative;
        min-height: 100%;
    }
    #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -70px;
    }
    #push,
    #footer {
        height: 70px;
    }
    #footer {
        background-color: #EEEEEE;
    }
    #wrap > .container-custom {
        padding-top: 90px;
    }           
    .container-custom {
        padding-top: 90px;
    }           
    .container1{
        width: auto; 
        padding: 0;
    }
    .color-white{
        background-color: #FFFFFF;
    }
    .addrclass{           
        font-size: 16px;
    }
    .font16{
        font-size: 29px;
        font-weight: bold;
    }
    .fontteam{
        font-size: 16px;
    }
    .fontp{
        font-size: 15px;
        font-weight: bold;
    }
    .fontpnb{
        font-size: 15px;
    }
    .fontp1{
        font-size: 17px;
    }
    .fontp2{
        font-size: 16px;
    }
    .MathJax {
    font-size: 12px;
    }
    .card1:hover{
     border-color: orange;
    }        
    .card-link:hover{
    color: orange;
    }
    .navbar-collapse1{
    justify-content: flex-end;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
        z-index: 1;
        position: absolute;
        margin-top: 0;
        padding-top: 0.5;
        margin-bottom: 0;
        padding-bottom: 0.5;
    }
    .dropdown-menu{
        margin-top: 0;
        padding-left: 100;
    }
